# Dependencies
/node_modules

# Build artifacts
/lib

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.log
*.csv
*.dat
*.out
*.tmp
*.swp

# Firebase
.firebase
firebase-debug.log

